# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore IDE and editor files
.vscode/
.idea/
*.iml

# Ignore log files
*.log

# Ignore environment-specific files
.env
.env.local
.env.development
.env.production

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.loc

# Compiled files to ignore
*.class
*.jar
*.lst
*.jar.original
pom.properties

# ignore target folder
target/

# ignore secrets file
secrets.properties